* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    background-image: url('../img/fondoGuitarra.png');
    /* background-color: rgb(100, 158, 167,0.5); */
    background-size: cover; 
    background-attachment: fixed;
}

.colores{
    background-color: rgb(142, 190, 184);
    background-color: #649ea7 ;
    background-color: #bddb88;
    background-color: #e0f3b2;
    background-color: #eefaa8;
} 

.botonesHtml{
    display: grid;
    grid-template-columns: 10% auto 10%;
    justify-content: space-around;
    margin: 5px;
}
.buscardorOrdenar{
    grid-column: 2;
}
.carritoGrid{
    grid-column: 3;
    display: flex;
    justify-content: end;
}
.grid-container {
    display: grid;
    grid-template-columns: 10% 80%;
    justify-content: space-around;
    margin: 5px;
}  
.buscador{
    grid-column: 1;
    margin-top: 40px;
}
.imagenesCarrito{
    width: fit-content;
    height: fit-content;
    backface-visibility: inherit;
}
.imagenCatalogo{
    width: 150px;
    height: 150px;
    padding: 5px;
    margin: 2px;
}
.filtroPorPrecio{
    display: flex;
    width: 200px;
    border-radius: 5px;
    justify-content: center;
}
#seccionCatalogo{
    grid-column: 2;
    display: flex;
    justify-content: center;
    margin: 30px;
}
#divCatalogo {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    justify-items: center;
    height: fit-content;
    margin: 0px 5px 0px 5px;
    text-decoration: none;
} 
.tarjetaProductos{
    max-width: 1200px;
    width: 1200px;
}
#carrito{
    width: 50px;
    height: 50px;
    top:140px;
    cursor: pointer;
}
img{
    width: 180px;
    height: 220px;
}
#btnSeguirComprando{
    margin-top: 30px;
}
.botonQuitar{
    border-radius: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight:700;
    font-style: italic;
    margin: 0px 35px;
}

.botonSumar{
    border-radius: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight:700;
    font-style: italic;
}
.botonRestar{
    border-radius: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-weight:700;
    font-style: italic;

}
#cantidadDeProductos {
    position: relative;
    top: 50px;
    right: 360px;
    display: block;
    width: 0px;
    height: 0px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
}
.offcanvas-header{
    display: flex;
    flex-direction: column;
}
h2 span { 
    background-color: red;
    border-radius: 120px;
    padding: 5px;
    width: 25px;
    height: 30px;
    text-align: center;
    font-size: 14px;
    margin: 10px 0 0 30px;
    color: white;
    z-index: 1;
} 
.btnComprar{
    width: 100px;
    align-items: center;
    justify-items: center;
}
.oculto {
    display: none;
}
.marcaCheck{
    font-weight: 900;
    cursor: pointer;
}
#divCarrito p{
    margin: 0px;
    margin-bottom: 0px;
}
#divCarrito b{
    margin: 0px;
    margin-bottom: 0px;
}
.offcanvas-body{
    flex-grow:0;
}
.offcanvas{
    width: 200px;
}
.centrar{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    padding: 10px;
} 
h4 {
    font-size: large;
    font-weight: 900;
}
b{
    font-size: large;
    font-weight: 700;
}
p{
    font-size: large;
}
h3{
    font-size: large;
    font-weight: 700;
    justify-content: center;
}
.botonAgregar{
    border-radius: 10px;
    font-weight:800;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
}
h3{
    text-align: center;
} 
.seccionFiltros{
    display: none; 
}
.desplegarFiltros{
    grid-column: 1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    border: solid;
    background-color: #f9fcf9b3;
    padding: 10px;
    border-radius: 10px 0px;
    width: 200px;
    box-shadow: -6px -2px 25px -13px rgba(0, 0, 0, 0.5);
    height: fit-content;
    top:10px;
}
.filtros{
    grid-column: 1;
    display: flex;
    justify-content: center;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(14, 15, 15);
    border-radius: 10px;
    width: 180px;
    height: 30px;
    background-color: #198754;
    font-weight:700;
    font-style: italic;
    margin: 10px;
}
.total{
    background-color:  rgb(95, 160, 95);
    border-style: solid;
    border-radius: 10px;
    font-weight: 900;
}
#vaciar{
    width: 50px;
    height: 50px;
    margin-top: 2px;
    margin-bottom: 10px;
    cursor: pointer;
}
.botonesCarrito{
    display: flex;
    justify-content:center;
    margin: 10px;
}
.botonesCarrito2{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
    align-items:center;
}
